.root {
    -fx-font-size: 14px;
}

.top-bar {
    /* -fx-background-color: #2c3e50; */
    -fx-padding: 10px;
}

.top-bar-label {
    /* -fx-text-fill: #ecf0f1; */
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.login-ui-gridpane {
    -fx-hgap: 10px;
    -fx-vgap: 10px;
    padding: 20px;
    -fx-padding: 20px;
    -fx-alignment: center;
}

.login-text-input-vbox {
    -fx-spacing: 5px;
    -fx-pref-width: 60%;
}

.login-text-input-label {
    -fx-font-weight: bold;
}

.login-text-input-textfield {
    -fx-pref-width: 50%;
}

.button-primary {
    /* -fx-background-color: #3498db; */
    /* -fx-text-fill: white; */
    -fx-font-weight: bold;
}

.button-secondary {
    /* -fx-background-color: #95a5a6;
    -fx-text-fill: white; */
    -fx-font-weight: bold;
}

.login-button-group-hbox {
    -fx-spacing: 10px;
    -fx-alignment: center;
}